*
	margin 0
	padding 0

body
	background-color #262626
	color #fff

#header
	float center
	text-align center
	margin 50px auto
	font-family Arial

#poll
	width 700px
	margin 0 auto
	margin-bottom: 20px
	color #000
	display flex
	font-family Arial
	flex-direction: column
	box-shadow rgba(119, 204, 136, 0.5) 4px 4px
	float center
	background-color #7c8
	min-height 200px
	p
		padding: 10px

questionborder = rgba(0, 0, 0, 0)

.question
	border-bottom 1px solid questionborder
	border-top: 1px solid questionborder
	margin-bottom 10px
	.head
		font-size 16pt
		span
			display inline-block
			&.sound
				width 40px
				height 40px
				line-height 38px
				border-right 1px solid rgba(0, 0, 0, 0.1)
				text-align center
				background-color rgba(200, 220, 80, 0.5)
				&:hover
					background-color rgba(200, 220, 80, 0.7)
					cursor: pointer
			&.description
				display inline
				margin-left 5px
	.options
		.option
			display block
			label
				width 22px
				height 22px
				vertical-align middle
				border-radius 3px
				border 1px solid rgba(200, 220, 80, 0.8)
				background-color rgba(255, 255, 255, 0.3)
				display inline-block
				margin 3px
				margin-right 5px
				cursor pointer
			input
				display none
				&:checked + label
					border-color rgba(200, 220, 80, 1)
					background-color rgba(150, 190, 50, 0.8)

.submit
	margin-top 20px
	margin-bottom 10px
	button
		margin-left 0px
		padding 5px 20px
		color #000
		font-size 14pt
		cursor pointer
		border 0
		border-right 1px solid rgba(0, 0, 0, 0.1)
		background-color rgba(200, 220, 80, 0.5)
		&:hover
			background-color rgba(200, 220, 80, 0.7)

#results
	h3
		margin-bottom 10px
		margin-top 6px
	margin 10px
	margin-left 30px
	margin-bottom 40px
	span
		margin-right 10px
