doctype html

html
	title Tenebrific
	link(rel="stylesheet" type="text/css" href="css/main.css")
	link(rel="icon" type="image/png" href="img/favicon.png")
	block scripts
body
	#header
		h2 Tenebrific Language Voicing Poll
	block body
		#poll
			block poll
