extends ../base.pug

block poll
	#questions
		p Which versions of the following phonemes should we have in the Tenebrific language? Click the squares to hear sound clips.
		each q in poll.questions
			.question
				.head
					span.sound= q[1]
					span.sound= q[2]
					span.description= q[0]
				form.options
					.option
						input(id="opt-" + q[1] type="radio" name="v" + q[1] value=q[1])
						label(for="opt-" + q[1])
						span= 'just ' + q[1] + ' (unvoiced)'
					.option
						input(id="opt-" + q[2] type="radio" name="v" + q[1] value=q[2])
						label(for="opt-" + q[2])
						span= 'just ' + q[2] + ' (voiced)'
					.option
						input(id="opt-" + q[1] + q[2] type="radio" name="v" + q[1] value=q[1] + q[2])
						label(for="opt-" + q[1] + q[2])
						span= q[1] + ' and ' + q[2] + ' (unvoiced and voiced)'
		.question
			.head
				each sound in poll.ejectives
					span.sound= sound + 'ʼ'
				span.description Which ejectives should we have? (Multi-choice)
			form.options.multi
				each ej in poll.ejectives
					.option
						input(id="opte-" + ej type="checkbox" name="ej" value="e" + ej)
						label(for="opte-" + ej)
						span= ej + 'ʼ'
				.option
					input(id="opte-n" type="checkbox" name="ej" value="en")
					label(for="opte-n")
					span None
		.question
			.head
				span.sound ħ
				span.sound ʜ
				span.sound ʡ̮
				span.sound ʡ
				span.description Should we have any pharyngeals such as these?
			form.options
				.option
					input(id="optp-y" type="radio" name="ph" value="yes")
					label(for="optp-y")
					span Yes
				.option
					input(id="optp-n" type="radio" name="ph" value="no")
					label(for="optp-n")
					span No
		.question
			.head
				span.description Should we use this website for polls in the future or go back to using Strawpoll when possible?
			form.options
				.option
					input(id="optw-y" type="radio" name="wb" value="this")
					label(for="optw-y")
					span This website
				.option
					input(id="optw-n" type="radio" name="wb" value="strawpoll")
					label(for="optw-n")
					span Strawpoll
				.option
					input(id="optw-o" type="radio" name="wb" value="other")
					label(for="optw-o")
					span Other
		.submit
			button#submit Submit answers
	p Results are currently not available for viewing but will be soon once I implement them. Check back every now and again.
	p Yes, I made a webpage specifically for this poll because no other poll creation website I could find provided: multiple questions, more than 10 questions per poll, and IP-duplication checking.
	p And yes, it looks terrible, I was never very good at website design. Just take the poll and I'll make it look better later.

block scripts
	script(src="js/poll.js")
