extends ../base.pug

block poll
	p Proper result rendering coming soon-ish, maybe.
	p= 'Total number of responses: ' + results.count + '.'
	#results
		h3 Voicing
		each v, i in results.result.voicing
			.voicing
				span= `${i[0]}: ${v[0]}`
				span= `${i[2]}: ${v[1]}`
				span= `${i[0]}+${i[2]}: ${v[2]}`
		h3 Ejectives
		each e, i in results.result.ejectives
			.ejectives
				span= `${i[1]}ʼ: ${e}`
		h3 Pharyngeals
		.pharyngeals
			span= 'Yes: ' + (results.result.pharyngeals.yes || 0)
			span= 'No: ' + (results.result.pharyngeals.no || 0)
		h3 Website
		.website
			span= 'This: ' + (results.result.website.this || 0)
			span= 'Strawpoll: ' + (results.result.website.strawpoll || 0)
			span= 'Other: ' + (results.result.website.other || 0)

block scripts
